<div data-ng-controller="view1Controller">
	<h3>{{view1_name}}</h3>
	<br/>
    <div class="gridSoftwaresStyle" data-ng-grid="gridOptions" style="width:790px;"></div>	
    <br/>
    <br/>
    	<div>
    		<a href="#/view2" class="softwareFormEdit" data-ng-click="active='softwareList'" style="color: red;">Enable editing</a>
    		<a href="#/view3" class="softwareFormShowFeatures" data-ng-click="active='softwareList'" style="color: red;">Show features</a>
    		<a href="#/view4" class="softwareReleasShow" data-ng-click="active='softwareList'" style="color: red;">Show releases</a>
    		<br/>
    		<br/>
    	</div>
</div>