<div data-ng-controller="view5Controller">
	<h3>{{view5_name}}</h3>
	<br/>
    <div class="gridFutureReleasesStyle" data-ng-grid="gridFutureReleases" style="width:790px;"></div>	
    <br/>
    <br/>
    	<div>
    		<a href="#/view6" class="ftrFormEdit" data-ng-click="active='softwareFutureRel'" style="color: red;">Enable editing</a>
    		<a href="#/view7" class="ftrFormShowFeatures" data-ng-click="active='softwareFutureRel'" style="color: red;">Show features</a>
    		<br/>
    		<br/>
    	</div>
</div>